__pycache__/
*.pyc
.venv/
rag/rag_db_v2/
rag/rag_db_*/
.pytest_cache/

# Binary data & heavy database storage
*.pdf
*.lance
*.lance/
lancedb_storage/
qdrant_storage/
lancedb_isolated_*/
lancedb_unified_storage/
